<h1>Log In</h1>
<form id="loginForm">
  <label>email</label>
  <input name="email" />
  <label>Password</label>
  <input type="password" name="password" />
  <input type="submit" />
</form>
<p>Sign Up<br /><a href="/register">Sign Up</a></p>
<br />
<script src="/js/login.js"></script>