<link rel="stylesheet" href="/css/style.css">
<h1>Home Products</h1>
<h2>list.handlebars</h2>
<div id="products">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script>
    const sockets = io.connect('http://localhost:8080/', { forceNew: true });
</script>