<h1>Sign Up</h1>
<form id="registerForm">
  <label>Name</label>
  <input name="first_name" />
  <label>Last Name</label>
  <input name="last_name" />
  <label>Age</label>
  <input name="age" />
  <label>email</label>
  <input name="email" />
  <label>Password</label>
  <input type="password" name="password" />
  <br />
  <input type="submit" />
</form>
<p>Sign Up :<a href="/login">Log In :</a></p>

<script src="/js/pages/register.js"></script>