<div>
    <h1>Record</h1>
    <form action="/api/usuarios" method="post">
        <label>Name</label>
        <input name="name">
        <label>Last Name</label>
        <input name="last_name">
        <label>email</label>
        <input name="email">
        <label>Age</label>
        <input type="number" name="age">
        <label>Phone</label>
        <input name="phone">
        <input type="submit">
    </form>
</div>