<h1>Record</h1>
<form action="/api/users/register" method="post">
  name:
  <input type="text" name="firstName" id="firstName" />
  last name:
  <input type="text" name="lastName" id="lastName" />
  age:
  <input type="number" name="age" id="age" />
  email:
  <input type="email" name="email" id="email" />
  password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="REGISTRARME" />
</form>